/* src/components/InviteMemberModal/InviteMemberModal.css */
.modal-backdrop {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 1rem 2rem;
  border-radius: 6px;
  width: 300px;
  max-width: 90%;
}
